{% extends 'base.html' %} 

{% block content %} 
  <h1>Checkout</h1> 
  <form method="POST"> 
    {% csrf_token %} 
    <div class="form-group"> 
      <label for="name">Name:</label> 
      <input type="text" class="form-control" id="name" name="name" required> 
    </div> 
    <div class="form-group"> 
      <label for="contact_number">Contact Number:</label> 
      <input type="text" class="form-control" id="contact_number" name="contact_number" required> 
    </div> 
    <div class="form-group"> 
      <label for="email">Email:</label> 
      <input type="email" class="form-control" id="email" name="email" required> 
    </div> 
    <div class="form-group"> 
      <label for="password">Password:</label> 
      <input type="password" class="form-control" id="password" name="password" required> 
    </div> 
    <button type="submit" class="btn btn-primary">Confirm Order</button> 
  </form> 
  <hr> 
  <h2>Order Summary</h2> 
  <table class="table"> 
    <thead> 
      <tr> 
        <th>Pastry</th> 
        <th>Quantity</th> 
        <th>Price</th> 
      </tr> 
    </thead> 
    <tbody> 
      {% for order_item in order_items %} 
        <tr> 
          <td>{{ order_item.pastry.name }}</td> 
          <td>{{ order_item.quantity }}</td> 
          <td>{{ order_item.price }}</td> 
        </tr> 
      {% endfor %} 
      <tr> 
        <td colspan="2"><strong>Total Price:</strong></td> 
        <td><strong>{{ order_item.price }}</strong></td> 
      </tr> 
    </tbody> 
  </table> 
  {% endblock %}